# **Data Types and Structures Questions**

Q1 What are data structures, and why are they important

Ans1 Data structures are specialized formats used to organize, store, and manage data efficiently in a computer so it can be accessed and modified effectively.

they are important because
They help in writing optimized code by minimizing memory use and speeding up data access and manipulation.

Once a data structure is implemented, it can be reused in different programs and problems.

Q2 Explain the difference between mutable and immutable data types with examples

Ans2 data types are categorized as either mutable or immutable based on whether their values can be changed after creation.

Immutable Data Types
Immutable objects cannot be modified after creation. If you try to change them, Python creates a new object instead.
Examples:
Integers (int)
Floats (float)
Strings (str)

Mutable Data Types
Mutable objects can be modified after creation without creating a new object.
Examples:
Lists (list)
Dictionaries (dict)
Sets (set)

Q3 What are the main differences between lists and tuples in Python

Ans4 Lists and tuples are both used to store collections of items in Python, but they have key differences. Lists are mutable, meaning they can be modified after creation—you can add, remove, or change elements. They are defined with square brackets ([ ]) and are ideal for dynamic data, like a shopping cart that changes frequently. Tuples, however, are immutable—once created, their elements cannot be altered. They use parentheses (( )) and are more memory-efficient, making them suitable for fixed data, such as coordinates or database records.

Q4 Describe how dictionaries store data

Ans4 Dictionaries (dict) in Python store data as key-value pairs, allowing for fast lookups, insertions, and deletions (average O(1) time complexity due to hashing).

Q5 Why might you use a set instead of a list in Python

Ans5 when we need Unique elements (no duplicates) or perform Mathematical set operations (unions, intersections).

Q6 What is a string in Python, and how is it different from a list

Ans6 A string (str) in Python is a sequence of Unicode characters enclosed in quotes (single ' ', double " ", or triple ''' '''/""" """). Strings are immutable, meaning once created, their contents cannot be changed.

In Python, strings (str) and lists (list) serve distinct purposes with key differences in their behavior and usage. Strings are immutable, meaning once created, their content cannot be modified—any operation that appears to change a string actually creates a new one. They are specifically designed for text processing and are enclosed in quotes (" ", ' ', or ''' ''' for multi-line strings). In contrast, lists are mutable, allowing modifications like adding, removing, or changing elements after creation. Lists use square brackets ([ ]) and can store any data type, including integers, strings, or even other lists, making them ideal for dynamic data collections. While strings are more memory-efficient for text, lists offer greater flexibility at the cost of slightly higher memory usage. Choosing between them depends on whether you need to work with fixed text (strings) or modifiable collections (lists).

Q7 How do tuples ensure data integrity in Python

Ans7 Tuples guarantee data integrity through immutability - once created, their elements cannot be modified.

This makes them ideal for:

Storing constant values (like configuration settings)

Protecting data from accidental modification

Q8 What is a hash table, and how does it relate to dictionaries in Python

Ans8 A hash table is a data structure that stores key-value pairs by using a hash function to compute an index (hash) for each key.

In Python, dictionaries (dict) are implemented using hash tables, which is why they offer fast O(1) average-time complexity for insertions, deletions, and lookups.

Q9 Can lists contain different data types in Python

Ans9 Yes, Python lists can contain different types

mixed_list = [1, "hello", 3.14, True, [1,2,3]]

Q10 Explain why strings are immutable in Python

Ans10  strings are immutable—meaning they cannot be changed after creation—for several key reasons. This design ensures memory efficiency through string interning (reusing identical strings), enables hashability (allowing strings as dictionary keys), and guarantees thread safety in concurrent operations. Immutability also enhances security by preventing unintended modifications and allows performance optimizations, as Python can safely reuse or cache strings.

Q11 What advantages do dictionaries offer over lists for certain tasks

Ans11 Dictionaries offer significant advantages over lists for certain tasks, especially when data needs to be accessed using unique keys. They allow for faster lookups (average O(1) time) compared to lists (O(n)), and make the code more readable by using descriptive key-based access instead of numeric indexes. Dictionaries are ideal for storing structured data like records or objects, and make updates more efficient since values can be directly modified using keys without searching through the entire collectoin

Q12 Describe a scenario where using a tuple would be preferable over a list

Ans12 Tuples preferable over a list when

Storing days of the week

Database record fields

Dictionary keys

Q13 How do sets handle duplicate values in Python

Ans13 sets (set) are designed to store unique elements only—they automatically remove duplicates upon creation or insertion.

numbers = {1, 2, 2, 3, 3}
print(numbers)  # Output: {1, 2, 3} (duplicates removed)

Q14 How does the “in” keyword work differently for lists and dictionaries

Ans14 **in** with Lists
Checks for value existence in the list.

Time Complexity: O(n) (linear search - checks each element one by one).

**in** with Dictionaries
Checks for key existence (not values).

Time Complexity: O(1) (average case) due to hash table lookups.


For lists, in is value-based and slow (linear search).

For dictionaries, in is key-based and fast (hash lookup).

Q15 Can you modify the elements of a tuple? Explain why or why not

Ans15 You cannot modify tuple elements directly because:

They're immutable for data integrity

Memory optimization (fixed-size blocks)

Q16 What is a nested dictionary, and give an example of its use case

Ans16 A nested dictionary is a dictionary that contains other dictionaries as values. This allows you to create multi-level structured data, similar to JSON objects. It’s useful for representing hierarchical or complex relationships.

employees = {
    "Alice": {
        "age": 30,
        "department": "Engineering",
        "skills": ["Python", "SQL"]
    },
    "Bob": {
        "age": 25,
        "department": "Marketing",
        "skills": ["SEO", "Content Writing"]
    }
}

Q17 Describe the time complexity of accessing elements in a dictionary

Ans17 In Python, accessing elements in a dictionary using a key has an average-case time complexity of O(1).

Average Case: O(1) for access, insertion, deletion.

Worst Case: O(n) (rare with good hash functions).

Q18 In what situations are lists preferred over dictionaries

Ans18 Lists Preferred When:
Need ordered collection

Require index-based access

Storing duplicates

Memory efficiency for small collections

Frequent slicing operations

Q19 Why are dictionaries considered unordered, and how does that affect data retrieval

Ans19 In Python, dictionaries (prior to Python 3.7) were considered unordered because they did not guarantee a consistent order of key-value pairs. This behavior changed in Python 3.7+, where dictionaries now preserve insertion order as an official feature (though they were technically ordered since Python 3.6 as an implementation detail).

Why Were Dictionaries Considered Unordered?

Hash Table Implementation: Dictionaries use a hash table for storage, where keys are hashed to determine their memory location. Before Python 3.6, this led to an arbitrary key order (not insertion order).

Efficiency Focus: The primary goal was O(1) average-time lookups, not maintaining order. Tracking insertion order would require extra memory.

Q20 Explain the difference between a list and a dictionary in terms of data retrieval.

Ans20 List:

Ordered collection of elements (can contain duplicates).

Accessed by index (integer position, starting at 0).

Dictionary:

Unordered (pre-Python 3.6) / ordered (Python 3.7+) collection of key-value pairs.

Accessed by unique keys (any hashable type: strings, numbers, tuples).

 Key Differences in Retrieval
Lists:

Fast for accessing elements by position (O(1)).

Slow for searching a value (O(n) linear search).'

Dictionaries:

Optimized for key-based lookups (O(1) average time).

No direct index access (keys can be strings, numbers, etc.).

# **Practical Questions**

In [2]:
# Q1 Write a code to create a string with your name and print it

my_name = "Monis khan"
print(my_name)

Monis khan

In [1]:
# Q2 Write a code to find the length of the string "Hello World"

my_string = "Hello World"
string_length = len(my_string)
print("The length of the string is:", string_length)

The length of the string is: 11

In [3]:
# Q3 Write a code to slice the first 3 characters from the string "Python Programming"

text = "Python Programming"
first_three = text[0:3]
print(first_three)

Pyt

In [4]:
# Q4 Write a code to convert the string "hello" to uppercase

text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

In [6]:
# Q5 Write a code to replace the word "apple" with "orange" in the string "I like apple"

text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [7]:
# Q6 Write a code to create a list with numbers 1 to 5 and print it

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [8]:
# Q7 Write a code to append the number 10 to the list [1, 2, 3, 4]

my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [9]:
# Q8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [10]:
# Q9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']

my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [11]:
# Q10 Write a code to reverse the list [10, 20, 30, 40, 50]

my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [12]:
# Q11 Write a code to create a tuple with the elements 100, 200, 300 and print it

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [13]:
# Q12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

In [15]:
# Q13 Write a code to find the minimum number in the tuple (10, 20, 5, 15)

my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)

5

In [16]:
# Q14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [17]:
# Q15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

fruits_tuple = ("apple", "banana", "cherry")
is_kiwi_in_tuple = "kiwi" in fruits_tuple
print(is_kiwi_in_tuple)

False

In [18]:
# Q16 Write a code to create a set with the elements 'a', 'b', 'c' and print it

my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

In [19]:
# Q17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [21]:
# Q18 Write a code to remove the element 4 from the set {1, 2, 3, 4}

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [22]:
# Q19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [23]:
# Q20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [24]:
# Q21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it

my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [25]:
# Q22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [26]:
# Q23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

In [27]:
# Q24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [28]:
# Q25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

my_dict = {'name': 'Alice', 'city': 'Paris'}
city_exists = 'city' in my_dict
print(city_exists)

True

In [30]:
# Q26 Write a code to create a list, a tuple, and a dictionary, and print them all

my_list = [1, 2, 3, 'apple', 'banana']
print("List:", my_list)

my_tuple = (10, 20, 30, 'red', 'blue')
print("Tuple:", my_tuple)

my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}
print("Dictionary:", my_dict)

List: [1, 2, 3, 'apple', 'banana']
Tuple: (10, 20, 30, 'red', 'blue')
Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}

In [32]:
# Q27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print them

import random

random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()

print("Sorted random numbers:", random_numbers)

Sorted random numbers: [24, 34, 45, 77, 88]

In [33]:
# Q28 Write a code to create a list with strings and print the element at the third index

my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at index 3:", my_list[3])

Element at index 3: date

In [34]:
# Q29 Write a code to combine two dictionaries into one and print the result

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1, **dict2}

print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [35]:
# Q30 Write a code to convert a list of strings into a set.

my_list = ["apple", "banana", "cherry", "apple", "banana"]
my_set = set(my_list)
print("Set from list:", my_set)

Set from list: {'cherry', 'apple', 'banana'}